.active-logins {
    .kt-notification {
        .kt-notification__item:after {
            content: none !important;
        }
    }
}
.kt-login.kt-login--v1 .kt-login__aside .kt-login__subtitle {
    margin: 1rem 0 3.5rem 0 !important;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__title {
    margin-bottom: 1rem;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__actions
    .kt-login__btn-secondary,
.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__actions
    .kt-login__btn-primary {
    padding: 0.5rem 1rem !important;
    font-size: 0.875rem;
    border-radius: 0rem;
    height: unset !important;
}

.form-control {
    border-radius: 0rem;
}

.swal2-popup {
    .swal2-validation-message::before {
        content: none !important;
    }

    .swal2-validation-message {
        margin-left: 0px !important;
        margin-right: 0px !important;
        align-items: normal !important;
        justify-content: normal !important;
        padding: 0 !important;
        overflow: hidden !important;
        background: transparent !important;
        color: #f27474 !important;
        font-size: 12px !important;
        font-weight: 300 !important;
    }
    .swal2-input,
    .swal2-file,
    .swal2-textarea,
    .swal2-select,
    .swal2-radio,
    .swal2-checkbox {
        margin: 0.5em auto !important;
    }
    .swal2-actions {
        margin: 0.25em auto 0 !important;
    }
    .swal2-input,
    .swal2-file,
    .swal2-textarea {
        border-radius: 0 !important;
    }
}

.swal2-container.swal2-shown {
    background-color: rgba(0, 1, 0, 0.8) !important;
}

.form-group {
    margin-bottom: 1rem !important;
}

.kt-section {
    margin: 0 !important;
}

.kt-aside-menu .kt-menu__nav {
    padding: 0;
}

.kt-portlet {
    border-radius: 0;
}
.modal-content {
    border-radius: 0 !important;
}
.modal-footer {
    justify-content: flex-start !important;
}

.kt-portlet .kt-portlet__head {
    min-height: 50px !important;
    padding: 0 20px !important;
}
.kt-portlet .kt-portlet__body {
    padding: 20px !important;
}
.kt-portlet .kt-portlet__foot {
    padding: 20px !important;
}

.kt-widget.kt-widget--user-profile-1 {
    padding-bottom: 0 !important;
}

#kt_user_profile_aside-sidebar .kt-portlet .kt-portlet__head--noborder {
    min-height: 20px !important;
}

/* Loader starts------------- */

.loader {
    background: #000;
    background: #000000b5;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%,
    15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Loader ends-------------  */

/* DATA TABLE STARTS HERE  */
.dataTables_wrapper .dataTable td.orting_asc_disabled:after,
.dataTables_wrapper .dataTable td.orting_asc_disabled:before,
.dataTables_wrapper .dataTable td.orting_desc_disabled:after,
.dataTables_wrapper .dataTable td.orting_desc_disabled:before,
.dataTables_wrapper .dataTable td.sorting:after,
.dataTables_wrapper .dataTable td.sorting:before,
.dataTables_wrapper .dataTable td.sorting_asc:after,
.dataTables_wrapper .dataTable td.sorting_asc:before,
.dataTables_wrapper .dataTable td.sorting_desc:after,
.dataTables_wrapper .dataTable td.sorting_desc:before,
.dataTables_wrapper .dataTable th.orting_asc_disabled:after,
.dataTables_wrapper .dataTable th.orting_asc_disabled:before,
.dataTables_wrapper .dataTable th.orting_desc_disabled:after,
.dataTables_wrapper .dataTable th.orting_desc_disabled:before,
.dataTables_wrapper .dataTable th.sorting:after,
.dataTables_wrapper .dataTable th.sorting:before,
.dataTables_wrapper .dataTable th.sorting_asc:after,
.dataTables_wrapper .dataTable th.sorting_asc:before,
.dataTables_wrapper .dataTable th.sorting_desc:after,
.dataTables_wrapper .dataTable th.sorting_desc:before {
    bottom: 0.9rem !important;
}
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: 20px !important;
}

.table thead th {
    border: 0px solid #ebedf2 !important;
}
.table thead th:not(:last-child) {
    border-right: 1px solid #ebedf2 !important;
}

.btn-action {
    height: 2rem !important;
    width: 2.5rem !important;
}

.table tbody td:not(.dataTables_empty),
.table tbody th:not(.dataTables_empty) {
    padding: 0.3rem 0.5rem !important;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.dataTables_wrapper .dataTables_processing {
    position: inherit !important;
    top: unset !important;
    left: unset !important;
    width: unset !important;
    margin-left: unset !important;
    margin-top: -14px;
    text-align: center;
    padding: 0 0 1em 0 !important;
}

.datatable-loader-spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner 0.6s linear infinite;
}
.datatable-loader-text {
    margin-top: 50px;
}

.datatable-loader-container {
    position: absolute;
    top: 28%;
    left: 47%;
    display: flex;
    flex-direction: row;
}
.datatable-loader-container-box {
    display: block;
    margin: 7px;
    border: 0.5em solid #0e7ec5;
    opacity: 0;
}
.datatable-loader-container-one {
    animation: box-appear 3s linear infinite;
}
.datatable-loader-container-two {
    animation: box-appear 3s linear 0.5s infinite;
}
.datatable-loader-container-three {
    animation: box-appear 3s linear 1s infinite;
}
@keyframes box-appear {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    48% {
        opacity: 1;
    }
    64% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.page-link {
    border-radius: 0px !important;
}

/* DATA TABLE ENDS HERE  */

.status-modal-danger-icon {
    font-size: 125px !important;
    color: #d32f2f !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.status-modal-success-icon {
    font-size: 125px !important;
    color: #1dc9b7 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 0;
    outline: 0;
    color: #495057;
    border-bottom: 1px solid #e0e0e0;
}

.select2-search--dropdown .select2-search__field {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.select2-container--default .select2-search--dropdown {
    padding: 0px !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    background-color: inherit !important;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    background-color: inherit !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 0px !important;
}
.select2-results__option {
    padding: 6px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    font-size: 13px !important;
}

/* MOBILE NUMBER COUNTRY CODE STARTS HERE  */
.iti {
    position: relative;
    display: inherit !important;
}
.iti--allow-dropdown input,
.iti--allow-dropdown input[type="tel"],
.iti--allow-dropdown input[type="text"],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type="tel"],
.iti--separate-dial-code input[type="text"] {
    padding-right: 6px !important;
    padding-left: 76px !important;
    margin-left: 0 !important;
}
/* MOBILE NUMBER COUNTRY CODE ENDS HERE  */

.kt-portlet__body .form-group:last-child {
    margin-bottom: 0rem !important;
}
.modal-body .form-group:last-child {
    margin-bottom: 0rem !important;
}

.user-details .kt-badge.kt-badge--lg {
    width: 50px !important;
    height: 50px !important;
    font-size: 2rem !important;
}

.fs-11 {
    font-size: 11px !important;
}
