.active-logins .kt-notification .kt-notification__item:after{
    content: none !important;
}

.swal2-popup .swal2-validation-message::before{
    content: none !important;   
}

.swal2-popup .swal2-validation-message {
    margin-left: 0px !important; 
    margin-right: 0px !important; 
    align-items: normal !important; 
    justify-content: normal !important; 
    padding: 0 !important; 
    overflow: hidden !important; 
    background: transparent !important; 
    color: #f27474 !important; 
    font-size: 12px !important; 
    font-weight: 300 !important; 
}

.swal2-popup .swal2-input, .swal2-popup .swal2-file, .swal2-popup .swal2-textarea, .swal2-popup .swal2-select, .swal2-popup .swal2-radio, .swal2-popup .swal2-checkbox {
    margin: 0.5em auto !important;
}

.swal2-container.swal2-shown {
    background-color: rgba(0, 1, 0, 0.8) !important;
}

.swal2-popup .swal2-actions {
    margin: 0.25em auto 0  !important;
}

.swal2-popup .swal2-input, .swal2-popup .swal2-file, .swal2-popup .swal2-textarea{
    border-radius: 0 !important;
}

.form-group{
    margin-bottom: 1rem !important;
}

.kt-section {
    margin: 0  !important;
}